.content-container {
  padding: 0;
  min-height: 100vh; /* Ensures the container takes the full height of the viewport */
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Horizontally centers the content */
}

.main-content {
  width: 90%; /* Restricts content width */
  max-width: 1440px; /* Limits the maximum width */
  text-align: left; /* Ensures text aligns left */
  margin: 20px 0 0 0;
}

/* temporary styles for logo placeholder */
.app-logo {
  padding: 0 20px 0 20px;
  font-size: 30px;
  font-weight: 1000;
}

.nav-bar {
  display: flex;
}

ul, .nav-item {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav-item a, .nav-item button {
  font-size: 25px;
  font-weight: 800;
}

.nav-list {
  margin: 20px;
  display: flex;
  gap: 20px;
  padding-left: 0px;
}

.button{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}