/* Goals Window */
.goals-window {
  min-width: 425px;
  max-width: 768px;
  margin: 25px auto;
  background: var(--accent-color);
  border-radius: 10px;
  overflow: hidden;
}

/* Goals Header */
.goals-window h1 {
  background-color: var(--accent-color);
  color: var(--text-light);
  text-align: center;
  margin: 0;
  padding: 20px;
}

/* Goals Content */
.goals-content {
  padding: 10px 30px;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  height: 750px;
  overflow-y: auto;
  background-color: var(--primary-bg);
}

/* Goals Section Button Styles */
.goals-window-button {
  background-color: var(--accent-color); /* Uses the highlight color */
  color: var(--text-light); /* Ensures text is readable */
  border: none;
  border-radius: 35px;
  padding: 10px 15px;
  cursor: pointer;
}

.goals-window-button:hover {
  background-color: var(--accent-color); /* Different color on hover */
}


/* Start Message */
.start-message {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-dark);
  opacity: 0.7;
}
