.goals-window {
  min-width: 425px;
  max-width: 768px;
  margin: 25px auto;
  background: rgb(211, 211, 211);
  border-radius: 10px;
  overflow: hidden;
}
.goals-window h1 {
  background-color: #259ab8;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}
.goals-content {
  padding: 10px 30px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height: 750px;
  overflow-y: auto;
  background-color: #f9f9f9;
}
.start-message {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: #888;
}
