h1 {
  text-align: center;
}

/* Chat Window */
.chat-window {
  width: 90%;
  max-width: 768px;
  margin: 25px auto;
  background: var(--secondary-bg);
  border-radius: 10px;
  overflow: hidden;
}
.chat-window h1 {
  background-color: var(--accent-color);
  color: var(--text-light);
  text-align: center;
  margin: 0;
  padding: 20px;
}

/* Chat Messages */
.chat-messages {
  padding: 10px 30px;
  border-top: 1px solid var(--text-dark);
  border-bottom: 1px solid var(--text-dark);
  display: flex;
  flex-direction: column;
  height: 750px;
  overflow-y: auto;
  background-color: var(--primary-bg);
}
.chat-messages::-webkit-scrollbar {
  display: none;
}

.start-message {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-dark);
}

/* Input & Button */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  gap: 10px;
}

input {
  background-color: var(--secondary-bg);
  border: 1px solid var(--text-dark);
  border-radius: 20px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
}

.chat-send-button {
  background-color: var(--highlight-color);
  border-radius: 20px;
  color: var(--text-light);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.chat-send-button:hover {
  background-color: var(--accent-color);
}

/* Chat Bubbles */
.message {
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
  color: white;
}

.user-message {
  background-color: var(--highlight-color);
  align-self: flex-end;
  width: fit-content;
}

.ai-message {
  background-color: var(--text-dark);
  align-self: flex-start;
}

/* Loading Spinner */
.loading-container {
  align-self: flex-start;
}

.loading-spinner {
  width: 25px;
  height: 25px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid var(--highlight-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Mobile Adjustments */
@media all and (max-width: 768px) {
  .chat-window {
    width: 95%;
  }
  .input-container {
    flex-direction: column;
    gap: 5px;
  }
  input {
    width: 100%;
  }
}
